<footer>
    <div id="footer">
        <div class="footer-box">
            <h4>Store Menu</h4>
            <ul class="footer-text">
                <li class="footer-li"><a class="footer-text" href="/">Home</a></li>
                <li class="footer-li"><a class="footer-text" href="/products">Product Menu</a></li>
                <li class="footer-li"><a class="footer-text" href="/user/cusRegistration">Sign up</a></li>
                <li class="footer-li"><a class="footer-text" href="/user/login">Sign In</a></li>
            </ul>
        </div>

        <div class="footer-box">
            <h4>Social Media</h4>
            <ul class="footer-text">
                <li class="footer-li"><a class="footer-text" href="https://www.facebook.com/">Facebook</a></li>
                <li class="footer-li"><a class="footer-text" href="https://www.instagram.com/">Instagram</a></li>
                <li class="footer-li"><a class="footer-text" href="https://www.whatsapp.com/">WhatsApp</a></li>
            </ul>
        </div>

        <div class="footer-box">
            <h4>About Us</h4>
            <ul class="footer-text">
                <li class="footer-li">Design &amp; Own by Jackie</li>
                <li class="footer-li">Email: yli593@myseneca.ca</li>
                <li class="footer-li">Phone: 1234567890</li>
            </ul>
        </div>
    </div>
    <div id="footer-imgs"><img id="footer-img" src="/img/footer.jpg" alt="amazon" width="100" height="30"></div>
</footer>