<header>
    <img src="/img/footer.jpg" alt="amazon" width="100" height="30"> <br>
    <nav id="header-nav">
        <ul>
            <li><a class="nav-ul-a" href="/">Home</a></li>
            <li><a class="nav-ul-a" href="/products">Product Menu</a></li>
            {{#if user}}
                <li><a class="nav-ul-a" href="/user/logout">Logout</a></li>
                <li><a class="nav-ul-cart" href="/cart/list">Cart</a></li>
            {{else}}
                <li><a class="nav-ul-a" href="/user/cusRegistration">Sign up</a></li>
                <li><a class="nav-ul-a" href="/user/login">Sign In</a></li>
            {{/if}}
        </ul>
    </nav>
    <p id="header-info">New deals everyday</p>

</header>