<h2>Welcome Clerk: {{user.firstName}}</h2>


<div class="user-dash">
    <p class="user-dash-title">Bellow is the supervise page:</p>

   
    
    <ul>
        <li><a class="Cuser-dash-li" href="/product/list">See all existed product</a></li>
        <li><a class="Cuser-dash-li" href="/product/add">Add a new product</a></li>
    </ul>    

</div>
