<h2>Welcome Clerk: {{user.firstName}}</h2>


<div>
    <p>Bellow is the supervise page:</p>

   
    
    <ul>
        <li><a class="nav-ul-a" href="/product/list">See all existed product</a></li>
        <li><a class="nav-ul-a" href="/product/add">Add a new product</a></li>
    </ul>    

</div>
