<div id="dashboard">
    <div class="thankstitle">
        <p>Thank you for Your registration!٩( 'ω' )و</p>
    </div>
    <div class="thanksnote">
        <div>Now your will receive an email that contain the necessary registration information and please CLICK the <p class="highlight">Blue Link</p> inside the email to finish the registration.
        </div>

        <p>Back to <a href="/user/cusRegistration" class="form-link">Registration</a>.</p>
    </div>
</div>
