<h2>Welcome: {{user.firstName}}</h2>


<div>
    <p>Here is the option you do:</p>

        <ul>
            <li><a class="nav-ul-a" href="/product/productSearch">Search by Category</a></li>
            <li><a class="nav-ul-a" href="/products">See all existed product</a></li>
        </ul>
</div>