<h2>Welcome: {{user.firstName}}</h2>


<div class="user-dash">
    <p class="user-dash-title">Here is the option you do:</p>

        <ul>
            <li><a class="user-dash-li" href="/product/productSearch">Search by Category</a></li>
            <li><a class="user-dash-li" href="/products">See all existed product</a></li>
        </ul>
</div>